body {
	margin-bottom: 80px;
	background-image: url("../img/background.jpg");
	color: white;
}

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

.featuredImg {
	margin-bottom: 15px;
}